#block-views-course_subject-block_1{
  position: inherit;
  width: 218px;
  max-height: 90%;
  
}

#block-views-course_subject-block_1 h2.title{

} 


#block-views-course_subject-block_1 .content{
	overflow-y: auto;
}

.view-course-subject .item-list h3{
  background-color: #6F9;
  border: 2px solid black;
  margin: 5px;
  opacity: 1;
  padding: 15px;
  cursor: default;
}

.view-course-subject .item-list li,
#my_question_link,
#add_question_link
{
  background-color: #6F9;
  border: 2px solid black;
  margin: 5px;
  opacity: 1;
  padding: 15px;
  cursor: default;
  display: block;
}

#my_question_link,
#add_question_link
{
  background-color: #FF0;
}

#block-views-course_subject-block_1 .item-list .views-row .views-field-sid{
  display:none;  
}

#block-views-course_subject-block_1 .item-list .views-row.question_over{
  background-color: #CCFFCC;
}

#draggable_helper {
  background-color: #FF9933;
  border: 2px solid black;
  margin: 5px;
  opacity: 0.8;
  padding: 5px;
  max-width:100px;
}

#faze-quiz-course-add-course-form input,
#faze-quiz-course-add-subject-form input{
  width:98%; 
}

