h1.title, div.breadcrumb{
  display: none;  
}

#content{
  border: 3px solid #257FA1;
  border-radius: 20px;
  margin:10px;
  background-color:#ffffff;

}

#content .section{
  margin:10px;
}

#content-area{
  margin: 5px 10px;
}

.difficulty_value_1{
  background-color:#00FF00;
}
.difficulty_value_2{
  background-color:#C2FA00;
}
.difficulty_value_3{
  background-color:#FFFF00;
}
.difficulty_value_4{
  background-color:#FF7400;
}
.difficulty_value_5{
  background-color:#FF0000;
}

#quiz_header{
  overflow: hidden;
  border-bottom: 3px solid #257FA1;
  padding:10px;
  color:#18779B;
}


#title{
  float:right;
}

#difficulty{
  float:left;
  text-align:center;
}

.answers>ul>li{
  width: -moz-fit-content;
}

.answers .correct_answer{
  background-color: #6DFF00;
}

.answers .wrong_selected_answer{
  text-decoration:line-through;
}

.question{
  background-position: 100% 0;
  background-repeat: no-repeat;
  padding-right: 50px;
}

.correct_question{
  background-image: url('image/correct_answer.png');
}

.wrong_question{
  background-image: url('image/wrong_answer.png');
}
.question hr{
  margin-right: -50px;
}

.question .question_details, .question .answers{
  float:right;
  padding:10px;
}

.question .question_details{
  width:60%;
}
.question .answers{
  width:30%;
}

.question .question_details{
  background-image: url('image/sep_vertical.png');
  background-repeat: repeat-y;
  
}

.question .question_details:hover{

}

.question .question_details .question_description{
  overflow: hidden;
  background-color:#ffffff;
}

.question .question_details .question_description:hover{
  overflow: auto;
}

.question .explanation_link{
  clear:both;
  text-align:left;
}
.question .explanation{
   display: none;
}

.copyright{
  
}