#block-views-course-block_1{
  position: inherit;  
  width: 218px;
}

#block-views-course-block_1 .item-list h3{
  background-color: #6F9;
  border: 2px solid black;
  margin: 5px;
  opacity: 1;
  padding: 15px;
  cursor: default;
}

#block-views-course-block_1 .item-list li{
  background-color: #6F9;
  border: 2px solid black;
  margin: 5px;
  opacity: 1;
  padding: 15px;
  cursor: default;
  display: block;
}

#block-views-course-block_1 .item-list .views-row .views-field-cid{
  display:none;  
}

#block-views-course-block_1 .item-list .views-row.student_over{
  background-color: #CCFFCC;
}

#draggable_helper {
  background-color: #FF9933;
  border: 2px solid black;
  margin: 5px;
  opacity: 0.8;
  padding: 5px;
  max-width:100px;
}

#faze-quiz-course-add-course-form input,
#faze-quiz-course-add-subject-form input{
  width:98%; 
}

#query_building-filter table{
  width: 100%;
}

#student_table{
  width: 100%;
}

#student_table tr.ui-draggable-dragging td{
  background: #b0ff5b;
}

#student_table tr.selected td{
  background: #b0ff5b;
}

#student_table td{
  padding: 3px; 
}

#student_table .student_course li{
  list-style: none outside none;
  display: inline;
  margin: 4px 4px;
  padding: 0 4px;
  background: yellow;  
}
#student_table .student_course li a{
  font-weight: normal;
}